.u {
  &-mr {
    &-15 {
      margin-right: 15px;
    }

    &-100 {
      margin-right: 100px;
    }

    &-150 {
      margin-right: 150px;
    }

    &-md-30 {
      @media (max-width: 768px) {
        margin-right: 30px;
      }
    }

    &-md-70 {
      @media (max-width: 768px) {
        margin-right: 70px;
      }
    }
  }

  &-ml {
    &-60 {
      margin-left: 60px;
    }

    &-65 {
      margin-left: 65px;
    }

    &-90 {
      margin-left: 90px;
    }

    &-md-0 {
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

  &-mb {
    &-40 {
      margin-bottom: 40px;
    }

    &-20 {
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &-mt {
    &-40 {
      @media (max-width: 768px) {
        margin-top: 40px;
      }
    }
  }

  &-pb {
    &-5 {
      padding-bottom: 5px;
    }

    &-10 {
      padding-bottom: 10px;
    }

    &-15 {
      padding-bottom: 15px;
    }

    &-20 {
      padding-bottom: 20px;
    }

    &-25 {
      padding-bottom: 25px;
    }

    &-30 {
      padding-bottom: 30px;
    }

    &-35 {
      padding-bottom: 35px;
    }

    &-40 {
      padding-bottom: 40px;
    }

    &-45 {
      padding-bottom: 45px;
    }

    &-50 {
      padding-bottom: 50px;
    }

    &-60 {
      padding-bottom: 60px;
    }

    &-70 {
      padding-bottom: 70px;

      @media (max-width: 768px) {
        padding-bottom: 70px;
      }
    }

    &-75 {
      padding-bottom: 75px;
    }

    &-80 {
      padding-bottom: 80px;
    }

    &-90 {
      padding-bottom: 90px;
    }

    &-130 {
      padding-bottom: 130px;
    }

    &-120 {
      padding-bottom: 120px;

      @media (max-width: 768px) {
        padding-bottom: 120px;
      }
    }

    &-100 {
      padding-bottom: 100px;

      @media (max-width: 768px) {
        padding-bottom: 100px;
      }
    }

    &-200 {
      padding-bottom: 200px;
    }

    &-md-0 {
      @media (max-width: 768px) {
        padding-bottom: 0;
      }
    }

    &-md-20 {
      @media (max-width: 768px) {
        padding-bottom: 20px;
      }
    }

    &-md-50 {
      @media (max-width: 768px) {
        padding-bottom: 50px;
      }
    }

    &-md-70 {
      @media (max-width: 768px) {
        padding-bottom: 70px;
      }
    }

    &-md-60 {
      @media (max-width: 768px) {
        padding-bottom: 60px;
      }
    }

    &-md-100 {
      @media (max-width: 768px) {
        padding-bottom: 100px;
      }
    }

    &-md-15 {
      @media (max-width: 768px) {
        padding-bottom: 15px;
      }
    }
  }

  &-pt {
    &-5 {
      padding-top: 5px;
    }

    &-10 {
      padding-top: 10px;
    }

    &-20 {
      padding-top: 20px;
    }

    &-25 {
      padding-top: 25px;
    }

    &-30 {
      padding-top: 30px;
    }

    &-40 {
      padding-top: 40px;
    }

    &-50 {
      padding-top: 50px;

      &-md-50 {
        @media (max-width: 768px) {
          padding-top: 50px;
        }
      }
    }

    &-60 {
      padding-top: 60px;
    }

    &-70 {
      padding-top: 70px;

      @media (max-width: 768px) {
        padding-top: 70px;
      }
    }

    &-80 {
      padding-top: 80px;
    }

    &-85 {
      padding-top: 85px;
    }

    &-90 {
      padding-top: 90px;
    }

    &-100 {
      padding-top: 100px;

      @media (max-width: 768px) {
        padding-top: 100px;
      }
    }

    &-130 {
      padding-top: 130px;
    }

    &-490 {
      padding-top: 490px;
    }

    &-200 {
      padding-top: 200px;
    }

    &-300 {
      padding-top: 200px;
    }

    &-md-0 {
      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    &-md-70 {
      @media (max-width: 768px) {
        padding-top: 70px;
      }
    }

    &-md-20 {
      @media (max-width: 768px) {
        padding-top: 20px;
      }
    }

    &-md-100 {
      @media (max-width: 768px) {
        padding-top: 100px;
      }
    }
  }

  &-pl {
    &-10 {
      padding-left: 10px;
    }

    &-20 {
      padding-left: 20px;
    }

    &-25 {
      padding-left: 25px;
    }

    &-30 {
      padding-left: 30px;
    }

    &-40 {
      padding-left: 40px;
    }

    &-60 {
      padding-left: 60px;
    }

    &-65 {
      padding-left: 65px;
    }

    &-70 {
      padding-left: 70px;
    }

    &-90 {
      padding-left: 90px;
    }
  }

  &-pr {
    &-10 {
      padding-right: 10px;
    }

    &-15 {
      padding-right: 15px;
    }

    &-20 {
      padding-right: 20px;
    }

    &-25 {
      padding-right: 25px;
    }

    &-30 {
      padding-right: 30px;
    }

    &-40 {
      padding-right: 40px;
    }

    &-md-10 {
      @media (max-width: 768px) {
        padding-right: 10px;
      }
    }

    &-md-15 {
      @media (max-width: 768px) {
        padding-right: 15px;
      }
    }

    &-md-20 {
      @media (max-width: 768px) {
        padding-right: 20px;
      }
    }
  }

  &-color-red {
    color: #ff5552;;
  }

  &-color-blue {
    color: #55acee;
  }

  &-text-center {
    text-align: center;
  }
}
