.u {
  &-pb {
    &-5 {
      padding-bottom: 5px;
    }

    &-10 {
      padding-bottom: 10px;
    }

    &-15 {
      padding-bottom: 15px;
    }

    &-20 {
      padding-bottom: 20px;
    }

    &-25 {
      padding-bottom: 25px;
    }

    &-30 {
      padding-bottom: 30px;
    }

    &-40 {
      padding-bottom: 40px;
    }

    &-50 {
      padding-bottom: 50px;
    }

    &-60 {
      padding-bottom: 60px;
    }

    &-70 {
      padding-bottom: 70px;
    }

    &-80 {
      padding-bottom: 80px;
    }

    &-90 {
      padding-bottom: 90px;
    }

    &-130 {
      padding-bottom: 130px;
    }

    &-100 {
      padding-bottom: 100px;
    }
  }

  &-pt {
    &-5 {
      padding-top: 5px;
    }

    &-10 {
      padding-top: 10px;
    }

    &-20 {
      padding-top: 20px;
    }

    &-25 {
      padding-top: 25px;
    }

    &-30 {
      padding-top: 30px;
    }

    &-40 {
      padding-top: 40px;
    }

    &-50 {
      padding-top: 50px;
    }

    &-60 {
      padding-top: 60px;
    }

    &-70 {
      padding-top: 70px;
    }

    &-80 {
      padding-top: 80px;
    }

    &-90 {
      padding-top: 90px;
    }

    &-100 {
      padding-top: 100px;
    }

    &-130 {
      padding-top: 130px;
    }

    &-490 {
      padding-top: 490px;
    }

    &-300 {
      padding-top: 200px;
    }
  }

  &-pl {
    &-10 {
      padding-left: 10px;
    }

    &-20 {
      padding-left: 20px;
    }

    &-30 {
      padding-left: 30px;
    }
  }

  &-pr {
    &-10 {
      padding-right: 10px;
    }

    &-20 {
      padding-right: 20px;
    }

    &-30 {
      padding-right: 30px;
    }
  }
}
