html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  font-family: Arial;
}

