.AboutSection {
  font-family: 'Lato', sans-serif;

  &-itemstats {
    display: flex;
    justify-content: space-between;
  }

  &-blockstats {
    padding-right: 100px;
  }

  &--number {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #fff;
  }

  &--text {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }
}
