.Button {
  text-decoration: none;
  display: flex;
  background: transparent;
  padding: 7px 15px;
  border: 1px solid #1089F5;
  border-radius: 5px;
  color: #1089F5;

  &--spaced {
    margin: 0px 15px 0px 0;
  }
}
