.Button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  height: 45px;
  border-radius: 1px;
  width: 180px;
  color: #fff;
  background-color: #ff5552;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;

  @media (max-width: 1200px) {
    height: 35px;
    width: 160px;
    font-size: 10px;
  }

  @media (max-width: 768px) {
    height: 30px;
    width: 150px;
    font-size: 8px;
  }

  &:hover {
    background-color:#fff;
    color: #ff5552;
    transition: .2s;
  }

  &--price {
    letter-spacing: 1px;
    width: 270px;
    height: 50px;
    background-color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  &--tituleblock {
    font-size: 14px;
  }

  &--subscribe {
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .7px;

    @media (max-width: 768px) {
      letter-spacing: none;
      font-size: 9px;
    }
  }

  &--spaced {
    margin: 0px 10px 0px 0;
  }
}
