.Button {
  display: flex;
  justify-content: center;
  margin: 18px;
}

.Article {
  text-decoration: none;
  display: flex;
  background: #fff;
  padding: 7px 15px;
  border: 1px solid #1089F5;
  border-radius: 5px;
  color: #1089F5;

  &--key {
    margin: 0px 15px 0 0;
  }
}
