.ContactsPage {
  display: flex;
  justify-content: space-between;
  padding: 50px 415px 0px 10px;

  &-pizza {
    padding: 10px;
  }

  &-zalupa {
    border: 1px solid rgba(#1089F5, .5);
    box-shadow: none;
    border-radius: 8px;
    height: 40px;
    width: 300%;
    margin: 10px;
  }
}
