.ContactsPage {
  display: flex;
  justify-content: space-between;

  &-formblock {
    margin: 50px 10px;
  }

  &-textblock {
    margin: 50px 10px;
  }

  &-test {
    border: 1px solid rgba(#1089F5, .5);
    box-shadow: none;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    display: block;
    padding: 10px 210px;
  }
}
