.ContactsPage {
  display: flex;
  justify-content: space-between;

  &-block {
    padding: 50px 415px 0 0;
  }

  &-text {
    padding: 52px 10px 0 10px;
  }

  &-pizza {
    padding: 10px;
  }

  &-test {
    border: 1px solid rgba(#1089F5, .5);
    box-shadow: none;
    border-radius: 8px;
    height: 40px;
    width: 100%;
  }
}
