.Field {
  &--search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    background-image: url(../../images/micro.jpg);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: center right 24px;

    &:focus {
      box-shadow: 1px 1px 4px #d3d3d3;
    }

    &:hover {
      box-shadow: 1px 1px 4px #d3d3d3;
    }
  }

  &--regular {
    display: block;
    border: 2px solid black;
    box-shadow: none;
    border-radius: 1px;
    font-size: 14px;
    height: 35px;
    padding: 7px 15px;
    width: 100%;
    background-image: url(../../images/textbg.png);
  }

  &--textarea {
    height: initial;
    resize: none;
  }

  &--email {
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding-bottom: 10px;
  }

  &--register {
    font-family: 'Oswald', sans-serif;
    border-radius: 31px;
    background-color: #fff;
    width: 100%;
    display: block;
    box-shadow: none;
    height: 57px;
    padding: 0 33px;
    border: 1px solid #dfe1e5;
    color: black;
    font-weight: 500;

    &:focus {
      box-shadow: 1px 1px 4px #d3d3d3;
    }

    &:hover {
      box-shadow: 1px 1px 4px #d3d3d3;
    }
  }
}
