.Field {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  width: 100%;
  background-image: url(../../images/micro.jpg);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center right 24px;

  &:focus {
    box-shadow: 1px 1px 4px #d3d3d3;
  }

  &:hover {
    box-shadow: 1px 1px 4px #d3d3d3;
  }

  &-area {
  border: 1px solid rgba(#1089F5, .5);
  box-shadow: none;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  display: block;
  padding: 50px 210px;
  }
}
