.Form {
  &-blockbutton {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-label {
    display: inline-block;
    padding: 0 5px 5px 0;
  }

  &-agree {
    display: flex;
  }

  &-sex {
    margin: 0 5px 0 0;
  }

  &-control {
    margin: 0 3px 0 0;
  }

  &-gender {
    align-items: center;
    display: flex;
  }
}
