.Form {
  padding: 50px 10px 0 0;

  &-blockbutton {
    padding: 22px 0 0 5px;
    display: flex;
    justify-content: space-between;
  }

  &-name {
    padding: 0 0 20px 0;
  }

  &-indent {
    display: inline-block;
    padding: 0 5px 5px 0;
  }

  &-agree {
    padding: 5px 0 0 0;
  }

  &-sex {
    display: inline;
    padding: 8px 1px 0 .1px;
  }
}
