.InfoSection {

  &-content {
    text-align: center;
  }

  &-wrappers {
    display: flex;
    justify-content: space-around;
  }

  &-blockNews {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;

    &--text {
      padding-top: 30px;
      font-size: 17px;
    }
  }

  &-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  &-textp {
    padding-top: 30px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #878787;
    font-weight: 400;
    width: 370px;

    @media (max-width: 1200px) {
      width: 355px;
    }

    @media (max-width: 768px) {
      width: 200px;
      font-size: 12px;
    }
  }

  &-images {
    @media (max-width: 768px) {
      height: 60px;
    }
  }
}
