.MemberCard {
  position: relative;

  &:hover {
    .MemberCard-overlay {
      opacity: 1;
    }
  }

  &-content {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 330px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1f1f1f;
  }

  &-item {
    display: inline-block;
    cursor: pointer;
  }

  &-fonts {
    padding-left: 10px;
    color: #fff;

    &:hover {
      color: #ff5552;
      transition: .3s;
    }
  }

  &-text{
    text-align: center;
    padding: 30px 0 33px 0;
    background-image: url(../../images/textbg.png);

    &::before {
      content: "";
      opacity: 1;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 27px solid #f3f3f3;
      position: absolute;
      top: 305px;
      left: 120px;
    }
  }
}
