.PageFooter {
  display: flex;
  width: 100%;

  &-item {
    width: 50%;
    display: flex;
  }

  &-images {
    display: flex;
  }

  &-content {
    position: relative;
  }

  &-blocks {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
  }

  &-position {
    display: flex;
  }

  &-bgsection {
    background-color: #202020;
    text-align: center;
    width: 100%;
  }

  &-logo {
    @media (max-width: 768px) {
      width: 150px;
    }
  }

  &-cub {
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
}
