.Page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Page-header {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Page-content {
  flex: 1;
}

.Page-footer {
  background-color: #f4f7ff;
}
