.PageBtn {
  display: flex;

  &-Test {
    text-decoration: none;
    display: flex;
    background: #F4F7FF;
    padding: 7px 15px ;
    border: 1px solid #1089F5;
    border-radius: 5px;
    color: #1089F5 ;
  }

  &-Pagebtntest {
    padding: 7px 100px 15px 100px;
  }
}
