.PageSearch {
  padding: 35px 31% .1em 31%;

  &-search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 100%;
    background-image: url(../../images/micro.jpg);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: right center;

    &:focus {
      box-shadow: 1px 1px 4px #d3d3d3;
    }

    &:hover {
      box-shadow: 1px 1px 4px #d3d3d3;
    }
  }
}
