.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 582px;
}

.search:focus {
  box-shadow: 1px 1px 4px #d3d3d3;
}

.search:hover {
  box-shadow: 1px 1px 4px #d3d3d3;
}

.flexbox {
  display: flexbox;
  justify-self: center;
  align-self: center;
}

.google__search__btn {
  border: none;
  font-size: 15px;
  color: #5f6368;
  margin-right: 25px;
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
}

.random__search__btn {
  border: none;
  font-size: 15px;
  color: #5f6368;
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
}

.google__search__btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.226);
}

.random__search__btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.226);
}
