.PortfolioSection {

  &-item {
    display: flex;
  }

  &-title {
    text-align: center;
  }

  .u-w-100 {
    width: 100%;
  }

  .u-w-50 {
    width: 50%;
  }

  .u-h-680 {
    height: 680px;
  }

  .u-h-50 {
    height: 50%;
  }

  .flex-column {
    flex-direction: column;
  }

}
