.PortfolioSection {

  &-item {
    display: flex;
  }

  &-text {
    position: absolute;
    padding: 50px 0px 0px 40px;

    @media (max-width: 768px) {
      padding: 35px 0px 0px 15px;
    }
  }

  &-title {
    text-align: center;
  }

  &-images {
    width: 100%;
  }

  .u-w-100 {
    width: 100%;
  }

  .u-w-50 {
    width: 50%;
  }

  .u-h-680 {
    height: 680px;
  }

  .u-h-50 {
    height: 50%;
  }

  .flex-column {
    flex-direction: column;
  }

}
