.PricingSection {

  &-title {
    text-align: center;
  }

  &-pricingtable {
    display: flex;
    justify-content: center;
  }

  &-pricingcard {
    padding-left: 30px;
    background-color: #fff;
    text-align: center;
  }
}
