.PricingSection {

  &-title {
    text-align: center;
  }

  &-pricingtable {
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
  }

  &-pricingcard {
    background-color: #fff;
    text-align: center;
    margin: 0 10px;
  }

  &-column {
    padding-top: 25px;
  }

  &-item {
    padding-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}
