.PricingSection {

  &-title {
    text-align: center;
  }

  &-pricingtable {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
