.Register {
  width: 315px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ebebeb;
  border-radius: 10px;
  height: 525px;
  display: flex;

  &-Text {

  }
}
