.Row {
  display: flex;
  width: 100%;

  @media (max-width: 576px) {
    display: block;
  }

  &-item {
    width: 50%;

  &-eddition {

  }

    @media (max-width: 576px) {
      width: initial;
    }
  }
}
