.Row {
  display: flex;
  width: 100%;

  &-images {
    margin-top: -60px;

    @media (max-width: 768px) {
      height: 400px;
      width: 480px;
    }
  }

  @media (max-width: 576px) {
    display: block;
  }

  &-item {
    width: 50%;

    @media (max-width: 576px) {
      width: initial;
    }
  }
}
