.Search {
  padding: 29px 465px;

  &-addition {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    background-image: url(../../images/micro.jpg);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 543px 6px;

    &:focus {
      box-shadow: 1px 1px 4px #d3d3d3;
    }

    &:hover {
      box-shadow: 1px 1px 4px #d3d3d3;
    }
  }
}
