.Section {
  &--zircon {
    background-color: black;
  }

  &--slider {
    background-image: url(../../images/image.png);
    max-height: 810px;
  }

  &-content {
    max-width: 1170px;
    margin: 0 auto;
  }
}
