.Section {
  &--zircon {
    background-color: black;
  }

  &--slider {
    background-image: url(../../images/image.png);
  }

  &--bgimage {
    background-image: url(../../images/aboutbg.png);
  }

  &--bgstats {
    background-image: url(../../images/statsbg.png);

    @media (max-width: 768px) {
      max-height: 250px;
    }
  }

  &--bgprice {
    background-image: url(../../images/bgprice.png);
  }

  &-content {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
}
