.Services {
  display: flex;

  &-item {
    display: flex;
  }

  &-figure {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: none;
  }

  &-images{
    padding: 20px 21px;
  }

  &-textposition {
    padding-left: 30px;
  }
}
