.Services {
  display: flex;
  font-family: 'Lato', sans-serif;

  &-item {
    display: flex;
  }

  &-figure {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: none;
    flex: 0 0 70px;
  }

  &-images{
    padding: 20px 21px;
  }

  &-textposition {
    padding-left: 30px;
  }

  &--text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
