.SiteNavigation {
  display: flex;
  align-items: center;
  padding: 34px 0;
  justify-content: space-between;

  &-column {
    display: flex;
  }

  &-fonts {
    color: #fff;
    cursor: pointer;
    padding: 0 0 0 20px;
  }

  &-item {
    display: block;
    letter-spacing: 1px;
  }

  &-link {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px 10px 18px;

  }

  &-link:hover {
    border-bottom: 1px solid #ff5552;
    color: #ff5552;
  }
}
