.SiteNavigation {
  display: flex;
  align-items: center;
  padding: 20px;

  &-column {
    display: flex;
    align-items: center;
  }

  &-fonts {
    color: #fff;
    cursor: pointer;
    padding: 0 10px
  }

  &-link {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 3px;
    margin-left: 20px;
  }

  &-link:hover {
    border-bottom: 2px solid #c44747;
    color: #c44747;
  }
}
