.SiteNavigation {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;

  &-column {
    display: flex;
    align-items: center;
  }

  &-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px;
    font-size: 14px;
  }
}
