.Slider {
  padding-top: 230px;
  padding-bottom: 342px;
  max-height: 810px;

  @media (max-width: 1200px) {
    padding-top: 150px;
    max-height: 600px;
  }

  &-btn {
    display: flex;
    padding-top: 30px;
  }

  &-navigation {
    display: flex;
    justify-content: center;
    padding-top: 245px;

    @media (max-width: 1200px) {
      padding-top: 195px;
    }
  }

  &-title {
    font-family: 'Lato', sans-serif;
    color: #fff;

    &--one {
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin-left: -2px;

      @media (max-width: 1200px) {
        font-size: 40px;
      }

      @media (max-width: 768px) {
        font-size: 35px;
      }
    }

    &--too {
      font-weight: 700;
      font-size: 85px;
      padding-top: 20px;
      letter-spacing: 0.5px;
      margin-left: -5px;

      @media (max-width: 1200px) {
        font-size: 60px;
      }

      @media (max-width: 768px) {
        font-size: 50px;
      }
    }
  }
}
