.TestimonialsSection {

  &-title {
    text-align: center;
  }

  &-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-figure {
    height: 97px;
    width: 97px;
    border-radius: 50%;
    border: 2px solid #ff5552;
    background-color: black;

    &--size {
      height: 77px;
      width:  77px;
    }
  }

  &-text {
    text-align: center;
  }

  &-navigation {
    display: flex;
    justify-content: center;
  }

  &-button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ff5552;
    letter-spacing: .9px;
    border-bottom: 2px solid #ff5552;
    padding: 0 0 9px 0;
  }
}
