.Text {
  font-family: 'Lato', sans-serif;

  &--red {
    color: #ff5552;
  }

  &--title {
    font-size: 35px;
    font-weight: 700;
  }

  &--smallTitle {
    font-size: 25px;
    font-weight: 700;
  }

  &--verdana {
    font-size: 14px;
    font-weight: 400;
    color: #878787;
    line-height: 24px;
    letter-spacing: 0.2px;
  }


  &-familiastuido {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;

      &--red {
        color: #ff5552;
      }
  }

  &-aboutstudio {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;

    @media (max-width: 768px) {
      font-size: 15px;
      padding-left: 60px;
    }

    &--red {
      color: #ff5552;
    }
  }

  &-familiastudiop {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #878787;
    line-height: 24px;
    letter-spacing: 0.4px;

    @media (max-width: 768px) {
      padding-left: 100px;
      font-size: 12px;
      letter-spacing: 0.1px;
    }
  }

  &-number {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;

    @media (max-width: 1200px) {
      font-size: 55px;
    }

    @media (max-width: 768px) {
      font-size: 45px;
    }
  }

  &-statsh3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
      letter-spacing: 0.3px;
    }
  }

  &-recentworks {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &-ourportfolio {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-projecttitile {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  &-design {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 1200px) {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  &-pricingtable {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-suitableplan {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700
  }

  &-numeral {
    font-size: 40px;
    color: black;
    font-weight: 300;
    font-family: 'Lato', sans-serif;

    &--mo {
      font-size: 16px;
    }
  }

  &-ourteam {
    text-align: center;
    margin-top: -75px;
  }

  &-timjones {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }

  &-develover {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }

  &-services {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 13px;
      letter-spacing: .4px;
    }
  }

  &-lorem {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #878787;
    letter-spacing: .4px;
    line-height: 24px;

    @media (max-width: 768px) {
      line-height: 20px;
      font-size: 12px;
    }
  }

  &-nametom {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
  }

  &-webdisigner {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .3px;
  }

  &-loremt {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: black;
    letter-spacing: .9px;

    @media (max-width: 768px) {
      font-size: 12px;
      letter-spacing: 0;
    }
  }

  &-post {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #141414;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &-month {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #141414;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-proin {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
    letter-spacing: .9px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-footerh {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .9px;

    @media (max-width: 768px) {
      font-size: 14px;
      letter-spacing: .5px;
    }
  }

  &-adress {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: .9px;
    line-height: 24px;

    @media (max-width: 768px) {
      font-size: 12px;
      letter-spacing: .5px;
    }
  }

  &-email {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-phonenumber {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-link {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .7px;

    @media (max-width: 768px) {
      font-size: 10px;
      line-height: 20px;
    }
  }

  &-subscribe {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .4px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-studio {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;

    @media (max-width: 768px) {
      font-size: 12px;
      letter-spacing: .9px;
    }
  }

  &-information {
    text-decoration: none;
  }
}
